/* line 1, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  vertical-align: middle;
  margin-left: 3px;
}

/* Hide default HTML checkbox */
/* line 11, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.switch input {
  display: none;
}

/* The slider */
/* line 14, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 26, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 38, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
input:checked + .slider {
  background-color: #68C265;
}

/* line 42, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
input:focus + .slider {
  box-shadow: 0 0 1px #68C265;
}

/* line 46, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
/* line 53, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.slider.round {
  border-radius: 17px;
}

/* line 57, C:/wamp64/www/angularjs-movies/app/css/sass/_slider-button.css */
.slider.round:before {
  border-radius: 50%;
}

/* line 2, C:/wamp64/www/angularjs-movies/app/css/sass/_animate.css */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.8s;
}

/* line 8, C:/wamp64/www/angularjs-movies/app/css/sass/_animate.css */
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  width: 0;
}

/* line 15, C:/wamp64/www/angularjs-movies/app/css/sass/_animate.css */
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  width: 100%;
}

/* line 7, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
body {
  width: 60%;
  margin: auto;
  font-family: 'Ledger', serif;
  font-size: 10pt;
  overflow-y: scroll;
}

/* line 15, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
h1, h2, form, input {
  text-align: center;
}

/* line 19, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
section {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 1% 8% 4%;
  margin-bottom: 3%;
}

/* line 26, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
input {
  border-radius: 5px;
  padding: 6px;
  font-family: 'Ledger', serif;
  outline: none;
  width: 40%;
}

/* line 34, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
input[type="month"] {
  width: 140px;
  margin-left: 5px;
}

/* line 39, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
::-webkit-calendar-picker-indicator {
  display: none;
}

/* line 43, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.pointer {
  cursor: pointer;
}

/* line 47, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.subheader {
  margin-bottom: 20px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
}

/* line 54, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies {
  width: 100%;
}

/* line 56, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies thead {
  background-color: #f2f2f2;
}

/* line 58, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies thead td {
  padding-left: 10px;
}

/* line 60, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies thead td:first-child {
  width: 30%;
}

/* line 66, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies tbody tr {
  height: 100px;
}

/* line 68, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 71, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies tbody tr:hover {
  background-color: #ddd;
}

/* line 76, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies tbody td img {
  height: 100px;
  display: block;
  float: right;
}

/* line 81, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.all-movies tbody td p {
  margin: 0 10px;
}

/* line 89, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.movie-img img {
  display: block;
  margin: 10px auto;
  border: 4px solid #ddd;
  height: 125px;
}

/* line 97, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.back {
  text-align: right;
  font-weight: bold;
  margin: 10px 0;
}

/* line 101, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.back a {
  text-decoration: none;
  color: black;
}

/* line 107, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.grey-highlight {
  text-align: center;
  margin: 15px 0;
}

/* line 110, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.grey-highlight span {
  background-color: #ddd;
  padding: 5px 15px;
  border-radius: 10px;
}

/* line 117, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.single-movie {
  width: 100%;
}

/* line 119, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.single-movie td {
  background-color: #f2f2f2;
}

/* line 122, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.single-movie p {
  margin: 10px;
}

/* line 127, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.read-review a {
  color: inherit;
}

/* line 132, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
.none-found {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  /* line 139, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .subheader {
    display: block;
  }
  /* line 141, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .subheader span {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  /* line 149, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  body {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  /* line 155, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  body {
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  /* line 162, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .all-movies thead {
    display: none;
  }
  /* line 167, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .all-movies tbody tr:nth-child(even) {
    background-color: #fff;
  }
  /* line 170, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .all-movies tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  /* line 174, C:/wamp64/www/angularjs-movies/app/css/sass/app.scss */
  .all-movies tbody tr td:nth-child(2) {
    display: none;
  }
}

/*# sourceMappingURL=../app.map */